<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 备份路径 -->
		<add key="backupPath" value="E:\Backup"/>
		<!-- FTP服务器的URL -->
		<!-- 根路径后配置的是指定项目的文件名称 -->
		<add key="serverURL" value="ftp://192.168.0.104/Ex02"/>
		<!-- 本地更新文件全名-->
		<add key="localUPdateConfig" value="C:\Users\Empty\Documents\GitHub\Update\bin\Debug\updateconfig.xml"/>
		<!-- 版本号 -->
		<add key="version" value="1"/>
		<!-- 主程序目录 -->
		<add key="mainPath" value="C:\Users\Empty\Desktop\Debug"/>
		<!-- 主程序应用文件全路径名 -->
		<add key="appName" value="C:\Users\Empty\Desktop\Debug\Smart.FormDesigner.Demo.exe"/>
	</appSettings>
</configuration>