<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- FTP服务器的URL -->
		<add key="ftpserver" value="ftp://106.75.178.115"/>
		<!-- FTP服务器的URL -->
		<add key="ftpuser" value="ftp033"/>
		<add key="ftppwd" value="Ftp033@84f9&amp;4k"/>
		<add key="ftpfolder" value="FileFolder/"/>
		<!-- 版本号 -->
		<add key="version" value="0"/>
		<!-- 更新次数 -->
		<add key="times" value="0"/>
		<!-- 文件计数 -->
		<add key="counts" value="0"/>
	</appSettings>
</configuration>