<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- FTP服务器的URL -->
		<add key="serverURL" value="ftp://localhost"/>
		<!-- 版本号 -->
		<add key="version" value="0"/>
		<!-- 更新次数 -->
		<add key="times" value="0"/>
		<!-- 文件计数 -->
		<add key="counts" value="0"/>
	</appSettings>
</configuration>